<link rel="import" href="../polymer/polymer.html">

<!--
`register-language`


@demo demo/index.html
-->

<dom-module id="register-language">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Registrar instrucción</h2>
    <form novalidate>
      <label for="descripcion">Descripción</label>
      <br/>
      <input type="text" name="descripcion" value="{{description::input}}"/>
      <br/>
      <label for="codigo">Código</label>
      <br/>
      <input type="text" name="codigo" value="{{code::input}}"/>
      <br/>
      <label for="language">Instrucción</label>
      <br/>
      <textarea rows="5" name="language" value="{{language::input}}">

      </textarea>>
      <br/>
      <button type="button" on-tap="send">Agregar</button>
    </form>
  </template>

  <script>
    Polymer({

      is: 'register-language',

      properties: {
        description: {
          type: String,
          value: '',
        },
        code: {
          type: String,
          value: '',
        },
        language: {
          type: String,
          value: '',
        },
      },
      send: function(){
        const row = {
          description: this.description,
          code: this.code,
          language: this.language
        };

        console.log('newRow', row);
        this.fire('newRow', row);
      }
    });
  </script>
</dom-module>
